@import '01_base/base-dir';
@import '02_components/components-dir';

.container {
  padding: 16px;
  height: 100%;
  background: #fff;
}

.tab-content__dashboard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 269px;
  column-gap: 20px;

  h2 {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
    text-align: center;
  }

  aside {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .devices {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #c4c4c4;
    padding: 12px;
    overflow: hidden;
    max-height: calc(100vh - 48px - 65px);

    &__list {
      flex-grow: 1;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 4px;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(168, 31, 31);
        outline: 1px solid rgb(58, 112, 167);
      }
    }

    &__item {
      margin-bottom: 14px;
      padding: 10px;
      height: 87px;
      display: flex;
      background: #fbfbfb;

      figure {
        margin-right: 14px;
        width: 68px;
        height: 68px;
        border: 2px solid green;
        background: hsla(0, 0%, 77%, 1);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &__meta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__id {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      color: #000000;

      input[type='checkbox'] {
        margin-right: 4px;
      }
    }

    &__name {
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }

    &__stats {
      display: flex;
      justify-content: space-around;

      font-size: 18px;
      color: #000000;

      &__numbers {
        display: flex;

        img {
          margin-right: 4px;
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
      }
    }
  }
}
