.project-nav {
  position: absolute;
  top: 0;
  left: -282px;
  width: 282px;
  height: calc(100% - 48px);
  background: hsla(0, 33%, 36%, 1);
  transition: left 0.15s ease-in;

  &.openNav {
    left: 0;
  }

  li {
    padding: 10px;
    background: rgba(196, 196, 196, 0.36);
    border: 1px solid #ffffff;

    display: flex;
    align-items: center;

    font-size: 24px;
    line-height: 28px;
    color: #000000;

    cursor: pointer;
  }

  span {
    display: block;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
